# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

In [2]:
# Import API key
from api_keys import g_key

In [3]:
target_city = "Los Angeles"
target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={target_city}&key={g_key}"

In [4]:
geo_data = requests.get(target_url).json()

In [5]:
print(geo_data)

{'results': [{'address_components': [{'long_name': 'Los Angeles', 'short_name': 'Los Angeles', 'types': ['locality', 'political']}, {'long_name': 'Los Angeles County', 'short_name': 'Los Angeles County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'Los Angeles, CA, USA', 'geometry': {'bounds': {'northeast': {'lat': 34.3373061, 'lng': -118.1552891}, 'southwest': {'lat': 33.7036519, 'lng': -118.6681759}}, 'location': {'lat': 34.0522342, 'lng': -118.2436849}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 34.3373061, 'lng': -118.1552891}, 'southwest': {'lat': 33.7036519, 'lng': -118.6681759}}}, 'place_id': 'ChIJE9on3F3HwoAR9AhGJW_fL-I', 'types': ['locality', 'political']}], 'status': 'OK'}

In [6]:
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Los Angeles",
                    "short_name": "Los Angeles",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Los Angeles County",
                    "short_name": "Los Angeles County",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "California",
                    "short_name": "CA",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Los Angeles, CA, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 34.3373061,
                        "lng": -118.1552891
                    },
                    "southwest": {
                        "lat": 33.7036519,
                        "lng": -118.6681759
                    }
                },
                "location": {
                    "lat": 34.0522342,
                    "lng": -118.2436849
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 34.3373061,
                        "lng": -118.1552891
                    },
                    "southwest": {
                        "lat": 33.7036519,
                        "lng": -118.6681759
                    }
                }
            },
            "place_id": "ChIJE9on3F3HwoAR9AhGJW_fL-I",
            "types": [
                "locality",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [7]:
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]
print('''
        City: {0}
        Latitude: {1}
        Longitude: {2}
        '''.format(target_city, lat, lng))

        City: Los Angeles
        Latitude: 34.0522342
        Longitude: -118.2436849

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
cities_temperature = "output_data/clean_city_data.csv"

In [9]:
cities_temperature = pd.read_csv("output_data/clean_city_data.csv")
cities_temperature

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570
1,1,Upernavik,72.7868,-56.1549,45.25,80,87,11.54,GL,1659450570
2,2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571
3,4,Kharan,28.5833,65.4167,102.67,15,15,2.08,PK,1659450572
4,5,Ag√ºimes,27.9054,-15.4461,83.03,54,20,29.93,ES,1659449997
...,...,...,...,...,...,...,...,...,...,...
562,568,Taltal,-25.4000,-70.4833,58.82,72,27,3.80,CL,1659450750
563,569,Caravelas,-17.7125,-39.2481,77.50,64,77,6.17,BR,1659450823
564,570,Wielu≈Ñ,51.2210,18.5696,75.25,54,76,6.42,PL,1659450823
565,571,Lidk√∂ping,58.5052,13.1577,61.41,76,100,8.55,SE,1659450824
566,572,Aden,12.7794,45.0367,86.85,65,0,21.27,YE,1659450450

In [10]:
del cities_temperature['Unnamed: 0']
cities_temperature.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570
1,Upernavik,72.7868,-56.1549,45.25,80,87,11.54,GL,1659450570
2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571
3,Kharan,28.5833,65.4167,102.67,15,15,2.08,PK,1659450572
4,Ag√ºimes,27.9054,-15.4461,83.03,54,20,29.93,ES,1659449997

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)

In [12]:
locations = cities_temperature[["Lat", "Lng"]].astype(float)
weights = cities_temperature["Humidity"].astype(float)

In [13]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
cities_humid = cities_temperature["Humidity"].tolist()

In [15]:
map_humid_layer = gmaps.symbol_layer(locations, fill_color='rgba(0,150,0,0.4)',
                                    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
                                    info_box_content=[f"Humidity: {humidity}" for humidity in cities_humid])
fig = gmaps.figure()
fig.add_layer(map_humid_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(map_humid_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
humidity_mean = round(cities_temperature["Humidity"].astype(float).mean(), 2)
humidity_median = round(cities_temperature["Humidity"].astype(float).median(), 2)
humidity_mode = round(cities_temperature["Humidity"].astype(float).mode(), 2)

print(f"Humidity Mean:{humidity_mean}")
print(f"Humidity Median:{humidity_median}")
print(f"Humidity Mode:{humidity_mode}")

Humidity Mean:68.28
Humidity Median:72.0
Humidity Mode:0    94.0
Name: Humidity, dtype: float64

In [18]:
narrow_city = cities_temperature[(cities_temperature["Max Temp"] > 65) & (cities_temperature["Max Temp"] < 75)]
narrow_city.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570
2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571
6,Baraboo,43.4711,-89.7443,73.54,81,0,4.61,US,1659450544
13,Sioux Lookout,50.1001,-91.9170,66.27,88,100,4.61,CA,1659450288
18,Vaini,-21.2000,-175.2000,73.56,94,40,6.91,TO,1659450576

In [19]:
less_humidity_city = narrow_city[(narrow_city["Humidity"] < 68)]
less_humidity_city.head(41)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570
24,Avarua,-21.2078,-159.7750,73.45,60,40,8.05,CK,1659450578
43,Carnarvon,-24.8667,113.6333,66.58,63,90,18.21,AU,1659450061
44,Poli,-3.3333,36.8000,70.74,38,43,8.70,TZ,1659450584
49,Faya,18.3851,42.4509,69.91,64,98,4.45,SA,1659450020
53,Castro,-24.7911,-50.0119,72.79,44,0,2.19,BR,1659450587
107,Port Elizabeth,-33.9180,25.5701,67.32,51,0,4.61,ZA,1659450023
113,San Cristobal,7.7669,-72.2250,73.58,59,96,6.55,VE,1659450615
118,Fallon,39.4735,-118.7774,74.44,47,0,6.91,US,1659450618
121,Kazygurt,41.7589,69.3864,73.33,53,84,9.51,KZ,1659450619
124,Verkhnyaya Inta,65.9811,60.3094,73.40,47,51,3.83,RU,1659450621
129,Kruisfontein,-34.0033,24.7314,72.45,35,98,2.01,ZA,1659450106
133,Yulara,-25.2406,130.9889,66.74,34,99,10.09,AU,1659450034
134,Port Alfred,-33.5906,26.8910,67.17,43,90,6.85,ZA,1659450625
143,Ostrovnoy,68.0531,39.5131,66.34,65,20,13.49,RU,1659450629
158,Quatre Cocos,-20.2078,57.7625,69.91,66,0,11.68,MU,1659450635
167,Mondlo,-27.9830,30.7177,65.91,40,0,5.55,ZA,1659450639
219,Grand Gaube,-20.0064,57.6608,70.20,67,6,3.00,MU,1659450071
251,Mossamedes,-15.1961,12.1522,67.15,49,0,9.95,AO,1659450168
275,Alice Springs,-23.7000,133.8833,74.75,19,97,8.05,AU,1659450610
284,Ayr,55.4627,-4.6339,73.38,64,40,21.85,GB,1659450694
291,Ambilobe,-13.2000,49.0500,73.11,61,39,2.95,MG,1659450696
292,Kichmengskiy Gorodok,59.9816,45.7854,73.06,62,78,3.04,RU,1659450697
302,Atascadero,35.4894,-120.6707,68.43,65,100,1.01,US,1659450458
315,Hajn√≥wka,52.7433,23.5812,74.01,60,0,1.99,PL,1659450706
316,Kharitonovo,61.4009,47.4978,74.23,56,39,3.06,RU,1659450706
336,Aksarka,66.5606,67.7975,72.37,44,5,7.34,RU,1659450130
339,Inhambane,-23.8650,35.3833,73.38,53,20,4.61,MZ,1659450263
375,Pueblo Nuevo,23.3833,-105.3833,65.39,57,60,1.39,MX,1659450732
376,Reconquista,-29.1500,-59.6500,68.50,63,57,8.52,AR,1659450733
382,Ayna,-12.6500,-73.9167,68.56,57,54,3.62,PE,1659450737
397,Pushkinskiye Gory,57.0209,28.9103,69.66,58,42,4.21,RU,1659450745
404,Dom Pedrito,-30.9828,-54.6731,66.25,65,30,6.11,BR,1659450748
418,Troitsko-Pechorsk,62.7084,56.1964,71.15,53,10,4.12,RU,1659450754
422,Kolyvan',55.3053,82.7391,65.82,60,87,7.76,RU,1659450756
442,Yar-Sale,66.8333,70.8333,65.73,56,12,6.89,RU,1659450764
444,Cap Malheureux,-19.9842,57.6142,69.48,67,9,1.99,MU,1659450516
448,Vetlanda,57.4289,15.0776,71.47,32,100,9.26,SE,1659450766
503,Labytnangi,66.6572,66.4183,69.67,53,6,7.92,RU,1659450742
516,Goya,-29.1400,-59.2626,68.95,64,51,6.29,AR,1659450800
560,Guerrero Negro,27.9769,-114.0611,74.68,67,99,8.99,MX,1659450822

In [20]:
less_humidity_city.shape

(41, 9)

In [21]:
less_humidity_city = narrow_city.dropna()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [22]:
target_coordinates = ", -159.7750"

In [23]:
test_latlng = f'{less_humidity_city.iloc[0]["Lat"]},{less_humidity_city.iloc[0]["Lng"]}'
test_latlng

'-33.0153,27.9116'

In [24]:
hotels_df = less_humidity_city.copy()
hotels_df["Hotel"] = ""
hotels_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570,
2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571,
6,Baraboo,43.4711,-89.7443,73.54,81,0,4.61,US,1659450544,
13,Sioux Lookout,50.1001,-91.9170,66.27,88,100,4.61,CA,1659450288,
18,Vaini,-21.2000,-175.2000,73.56,94,40,6.91,TO,1659450576,
...,...,...,...,...,...,...,...,...,...,...
550,Stromness,58.9650,-3.2960,67.96,83,88,8.99,GB,1659450817,
552,Drovyanaya,51.5833,113.0333,65.17,79,100,2.15,RU,1659450818,
555,Richards Bay,-28.7830,32.0377,68.54,69,0,15.39,ZA,1659450819,
556,Mareeba,-17.0000,145.4333,65.12,95,44,2.66,AU,1659450820,
560,Guerrero Negro,27.9769,-114.0611,74.68,67,99,8.99,MX,1659450822,

In [25]:
parameters = {
    "radius":5000,
    "type":"lodging",
    "key":g_key
}

nearby_search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for idx, row in hotels_df.iterrows():
    lat_lng = f'{row["Lat"]},{row["Lng"]}'
    parameters["location"] = lat_lng
    
    try:
        hotel_res = requests.get(nearby_search_url, params=parameters).json()
        hotels_df.loc[idx, "Hotel"] = hotel_res["results"][0]["name"]
        print("Added hotel for" + row["City"])
    except:
        print("Could not find hotel for" + row["City"])
    

hotels_df

Added hotel forEast London
Added hotel forRikitea
Added hotel forBaraboo
Added hotel forSioux Lookout
Added hotel forVaini
Added hotel forAvarua
Added hotel forBambous Virieux
Added hotel forNikolskoye
Added hotel forHilo
Added hotel forJamestown
Added hotel forCarnarvon
Added hotel forPoli
Added hotel forPortland
Added hotel forFaya
Added hotel forCastro
Added hotel forMah√©bourg
Could not find hotel forVostok
Added hotel forBerlev√•g
Added hotel forAjra
Could not find hotel forKrasnoyarskiy
Added hotel forPuerto Ayora
Added hotel forSouillac
Added hotel forPort Hedland
Added hotel forTanete
Added hotel forPort Elizabeth
Added hotel forSan Cristobal
Added hotel forAlofi
Added hotel forFallon
Added hotel forKazygurt
Could not find hotel forVerkhnyaya Inta
Added hotel forKruisfontein
Added hotel forYulara
Added hotel forPort Alfred
Could not find hotel forOstrovnoy
Added hotel forAksha
Added hotel forQuatre Cocos
Added hotel forLagoa
Added hotel forMondlo
Added hotel forPohrebyshche
Added hotel forKununurra
Added hotel forDashitou
Added hotel forSan Marcos
Added hotel forCape Town
Added hotel forLa Libertad
Added hotel forGaroua Boula√Ø
Added hotel forVao
Added hotel forSistranda
Added hotel forGrand Gaube
Added hotel forNortham
Added hotel forKamaishi
Added hotel forBadulla
Added hotel forCap-aux-Meules
Added hotel forMossamedes
Added hotel forSoyo
Added hotel forGoderich
Added hotel forHalf Moon Bay
Added hotel forAlice Springs
Added hotel forAlihe
Added hotel forAlyangula
Added hotel forAyr
Added hotel forSaint-Philippe
Added hotel forAmbilobe
Added hotel forKichmengskiy Gorodok
Added hotel forPyshma
Added hotel forAtascadero
Added hotel forKatobu
Added hotel forPort Hawkesbury
Added hotel forLompoc
Added hotel forHajn√≥wka
Could not find hotel forKharitonovo
Could not find hotel forYerbogach√´n
Added hotel forNoumea
Could not find hotel forAksarka
Added hotel forInhambane
Added hotel forBiak
Added hotel forPenzance
Added hotel forVarberg
Added hotel forBaoqing
Could not find hotel forPueblo Nuevo
Added hotel forReconquista
Added hotel forBurgeo
Could not find hotel forAyna
Added hotel forDondo
Added hotel forPushkinskiye Gory
Added hotel forDom Pedrito
Added hotel forTroitsko-Pechorsk
Added hotel forGlenwood Springs
Could not find hotel forKolyvan'
Added hotel forGinda
Added hotel forSaint-Joseph
Added hotel forMocuba
Added hotel forYar-Sale
Added hotel forCap Malheureux
Added hotel forVetlanda
Added hotel forWaingapu
Added hotel forKaraton
Added hotel forAmbulu
Could not find hotel forPanguna
Added hotel forLabytnangi
Could not find hotel forSaint-Augustin
Added hotel forGoya
Could not find hotel forSobolevo
Could not find hotel forLyubech
Added hotel forStromness
Could not find hotel forDrovyanaya
Added hotel forRichards Bay
Added hotel forMareeba
Added hotel forGuerrero Negro

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570,Tu Casa
2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571,People ThankYou
6,Baraboo,43.4711,-89.7443,73.54,81,0,4.61,US,1659450544,Thunderbird Motor Inn
13,Sioux Lookout,50.1001,-91.9170,66.27,88,100,4.61,CA,1659450288,Knobby's Fly-In Camps
18,Vaini,-21.2000,-175.2000,73.56,94,40,6.91,TO,1659450576,Keleti Beach Resort
...,...,...,...,...,...,...,...,...,...,...
550,Stromness,58.9650,-3.2960,67.96,83,88,8.99,GB,1659450817,The Old Smokery
552,Drovyanaya,51.5833,113.0333,65.17,79,100,2.15,RU,1659450818,
555,Richards Bay,-28.7830,32.0377,68.54,69,0,15.39,ZA,1659450819,BON Hotel Waterfront Richards Bay
556,Mareeba,-17.0000,145.4333,65.12,95,44,2.66,AU,1659450820,Trinity Plains Tourist Park
560,Guerrero Negro,27.9769,-114.0611,74.68,67,99,8.99,MX,1659450822,"Casa Laguna, Bed & Breakfast"

In [26]:
clean_hotels_df = hotels_df[hotels_df["Hotel"] != ""]
clean_hotels_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,East London,-33.0153,27.9116,67.14,63,0,4.61,ZA,1659450570,Tu Casa
2,Rikitea,-23.1203,-134.9692,72.95,72,83,21.81,PF,1659450571,People ThankYou
6,Baraboo,43.4711,-89.7443,73.54,81,0,4.61,US,1659450544,Thunderbird Motor Inn
13,Sioux Lookout,50.1001,-91.9170,66.27,88,100,4.61,CA,1659450288,Knobby's Fly-In Camps
18,Vaini,-21.2000,-175.2000,73.56,94,40,6.91,TO,1659450576,Keleti Beach Resort
...,...,...,...,...,...,...,...,...,...,...
516,Goya,-29.1400,-59.2626,68.95,64,51,6.29,AR,1659450800,Apart Costanera Goya
550,Stromness,58.9650,-3.2960,67.96,83,88,8.99,GB,1659450817,The Old Smokery
555,Richards Bay,-28.7830,32.0377,68.54,69,0,15.39,ZA,1659450819,BON Hotel Waterfront Richards Bay
556,Mareeba,-17.0000,145.4333,65.12,95,44,2.66,AU,1659450820,Trinity Plains Tourist Park
560,Guerrero Negro,27.9769,-114.0611,74.68,67,99,8.99,MX,1659450822,"Casa Laguna, Bed & Breakfast"

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in clean_hotels_df.iterrows()]
locations = clean_hotels_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Thunderbird Motor Inn</dd>\n<dt>City</dt><dd>Baraboo</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Knobby's Fly-In Camps</dd>\n<dt>City</dt><dd>Sioux Lookout</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Tourist House - Sablino</dd>\n<dt>City</dt><dd>Nikolskoye</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hampton Inn & Suites Jamestown</dd>\n<dt>City</dt><dd>Jamestown</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Urafiki House</dd>\n<dt>City</dt><dd>Poli</dd>\n<dt>Country</dt><dd>TZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Embassy Suites by Hilton Portland Downtown</dd>\n<dt>City</dt><dd>Portland</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>ÿßŸÖŸÑÿßŸÉ ÿÆÿßŸÑÿØ ÿßŸÑÿ¥ÿπÿ¥Ÿàÿπ</dd>\n<dt>City</dt><dd>Faya</dd>\n<dt>Country</dt><dd>SA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mah√©bourg</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Kvitbrakka</dd>\n<dt>City</dt><dd>Berlev√•g</dd>\n<dt>Country</dt><dd>NO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Minerva Paradise</dd>\n<dt>City</dt><dd>Ajra</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Esplanade Hotel</dd>\n<dt>City</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Wisma Tri Multi</dd>\n<dt>City</dt><dd>Tanete</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Best Western Fallon Inn & Suites</dd>\n<dt>City</dt><dd>Fallon</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>“ö–∞–ª–¥—ã–±–∞–π–¥—ã“£ “Ø–π—ñ üèòÔ∏è</dd>\n<dt>City</dt><dd>Kazygurt</dd>\n<dt>Country</dt><dd>KZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Oyster Bay House Rental</dd>\n<dt>City</dt><dd>Kruisfontein</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Desert Gardens Hotel - Ayers Rock Resort</dd>\n<dt>City</dt><dd>Yulara</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Vizit</dd>\n<dt>City</dt><dd>Aksha</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Sunrise Attitude Hotel</dd>\n<dt>City</dt><dd>Quatre Cocos</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Casa Das Faias</dd>\n<dt>City</dt><dd>Lagoa</dd>\n<dt>Country</dt><dd>PT</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Zungu N N</dd>\n<dt>City</dt><dd>Mondlo</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel π</dd>\n<dt>City</dt><dd>Pohrebyshche</dd>\n<dt>Country</dt><dd>UA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Kununurra</dd>\n<dt>City</dt><dd>Kununurra</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Shengzeyuan Fashion Hotel</dd>\n<dt>City</dt><dd>Dashitou</dd>\n<dt>Country</dt><dd>CN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hampton Inn San Marcos</dd>\n<dt>City</dt><dd>San Marcos</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Playa Canela Hotel Boutique</dd>\n<dt>City</dt><dd>La Libertad</dd>\n<dt>Country</dt><dd>EC</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Motel l'as Vegas</dd>\n<dt>City</dt><dd>Garoua Boula√Ø</dd>\n<dt>Country</dt><dd>CM</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Hotel Kou-Bugny</dd>\n<dt>City</dt><dd>Vao</dd>\n<dt>Country</dt><dd>NC</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotell Fr√∏ya</dd>\n<dt>City</dt><dd>Sistranda</dd>\n<dt>Country</dt><dd>NO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Veranda Paul et Virginie Hotel & Spa</dd>\n<dt>City</dt><dd>Grand Gaube</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Durrant House Hotel</dd>\n<dt>City</dt><dd>Northam</dd>\n<dt>Country</dt><dd>GB</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Route Inn Kamaishi</dd>\n<dt>City</dt><dd>Kamaishi</dd>\n<dt>Country</dt><dd>JP</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Budget comfort holiday</dd>\n<dt>City</dt><dd>Badulla</dd>\n<dt>Country</dt><dd>LK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Auberge Madeli</dd>\n<dt>City</dt><dd>Cap-aux-Meules</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Chik Chik Namibe</dd>\n<dt>City</dt><dd>Mossamedes</dd>\n<dt>Country</dt><dd>AO</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Hospedaria ndozi'ame</dd>\n<dt>City</dt><dd>Soyo</dd>\n<dt>Country</dt><dd>AO</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Harmony Inn</dd>\n<dt>City</dt><dd>Goderich</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Ritz-Carlton, Half Moon Bay</dd>\n<dt>City</dt><dd>Half Moon Bay</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Desert Palms Alice Springs</dd>\n<dt>City</dt><dd>Alice Springs</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Alihe Forestry Hotel</dd>\n<dt>City</dt><dd>Alihe</dd>\n<dt>Country</dt><dd>CN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Groote Eylandt Lodge</dd>\n<dt>City</dt><dd>Alyangula</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Mercure Ayr Hotel</dd>\n<dt>City</dt><dd>Ayr</dd>\n<dt>Country</dt><dd>GB</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Le four √† pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>H√¥tel & Restaurant DIANA Ambilobe</dd>\n<dt>City</dt><dd>Ambilobe</dd>\n<dt>Country</dt><dd>MG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Gostinitsa</dd>\n<dt>City</dt><dd>Kichmengskiy Gorodok</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Gostinitsa "Postoyalyy Dvor"</dd>\n<dt>City</dt><dd>Pyshma</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Holiday Inn Express & Suites Atascadero, an IHG Hotel</dd>\n<dt>City</dt><dd>Atascadero</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>La Ode Husein</dd>\n<dt>City</dt><dd>Katobu</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>MacKenzie House Tourist Home B&B</dd>\n<dt>City</dt><dd>Port Hawkesbury</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Holiday Inn Express Lompoc, an IHG Hotel</dd>\n<dt>City</dt><dd>Lompoc</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Zajazd i Restauracja "Wrota Lasu"</dd>\n<dt>City</dt><dd>Hajn√≥wka</dd>\n<dt>Country</dt><dd>PL</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>H√¥tel Le Lagon</dd>\n<dt>City</dt><dd>Noumea</dd>\n<dt>Country</dt><dd>NC</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Oceano</dd>\n<dt>City</dt><dd>Inhambane</dd>\n<dt>Country</dt><dd>MZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Penginapan Kim</dd>\n<dt>City</dt><dd>Biak</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Artist Residence Penzance</dd>\n<dt>City</dt><dd>Penzance</dd>\n<dt>Country</dt><dd>GB</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Varbergs Kusthotell</dd>\n<dt>City</dt><dd>Varberg</dd>\n<dt>Country</dt><dd>SE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Baoqing Hotel</dd>\n<dt>City</dt><dd>Baoqing</dd>\n<dt>Country</dt><dd>CN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Grand Hotel</dd>\n<dt>City</dt><dd>Reconquista</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Gillett's Motel</dd>\n<dt>City</dt><dd>Burgeo</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Pensao Casual</dd>\n<dt>City</dt><dd>Dondo</dd>\n<dt>Country</dt><dd>MZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The recreation center "Pushkinogorye"</dd>\n<dt>City</dt><dd>Pushkinskiye Gory</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Alexandre</dd>\n<dt>City</dt><dd>Dom Pedrito</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pechora Gostinitsa</dd>\n<dt>City</dt><dd>Troitsko-Pechorsk</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Glenwood Springs Cedar Lodge</dd>\n<dt>City</dt><dd>Glenwood Springs</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Bhandari hi tech plant nursary.</dd>\n<dt>City</dt><dd>Ginda</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>"Plantation Bed and Breakfast</dd>\n<dt>City</dt><dd>Saint-Joseph</dd>\n<dt>Country</dt><dd>RE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Phama Lodge</dd>\n<dt>City</dt><dd>Mocuba</dd>\n<dt>Country</dt><dd>MZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Yalemd</dd>\n<dt>City</dt><dd>Yar-Sale</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pereybere Hotel & Spa</dd>\n<dt>City</dt><dd>Cap Malheureux</dd>\n<dt>Country</dt><dd>MU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Best Western Vetlanda Stadshotell</dd>\n<dt>City</dt><dd>Vetlanda</dd>\n<dt>Country</dt><dd>SE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pondok Wisata Elim</dd>\n<dt>City</dt><dd>Waingapu</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Parkir Mobil Wisata CAS Water Park</dd>\n<dt>City</dt><dd>Karaton</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Ambulu Jember</dd>\n<dt>City</dt><dd>Ambulu</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Priuralye Hotel</dd>\n<dt>City</dt><dd>Labytnangi</dd>\n<dt>Country</dt><dd>RU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Apart Costanera Goya</dd>\n<dt>City</dt><dd>Goya</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Old Smokery</dd>\n<dt>City</dt><dd>Stromness</dd>\n<dt>Country</dt><dd>GB</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>BON Hotel Waterfront Richards Bay</dd>\n<dt>City</dt><dd>Richards Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Trinity Plains Tourist Park</dd>\n<dt>City</dt><dd>Mareeba</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Casa Laguna, Bed & Breakfast</dd>\n<dt>City</dt><dd>Guerrero Negro</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n']

In [28]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))